body {
    margin: 0px; /* this ensures that there is no default whitespace so my website can actually cover the entire page */
    background-color: hsl(204, 38%, 16%);
    font-family: "Arial";
    font-size: 14pt;
    color: hsl(186, 0%, 92%);

    /* the following default settings are set so that we get consistency across platforms */
    line-height: 1.0;
    text-align: left;
    text-indent: 0px;
}



.blog_header {
    background-color: hsl(210, 25%, 04%);
    text-align: center;
    padding-bottom: 60px;
    padding-top: 120px;
    /* border-left: solid 500px; */
    /* border-right: solid 500px; */
    /* border-color: hsl(204, 38%, 16%); *\/ */
}

.blog_title {
    color: hsl(195, 100%, 82%);
    word-spacing: 7px;
    letter-spacing: 9px;
    font-size: 46px;
    font-family: "Times New Roman";
    padding-bottom: 10px;
}

.header_text {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    font-size: 11pt;
}



.main_section {
    width: 840px;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 600px;
    line-height: 1.7;
    /* background-color: hsl(204, 38%, 19%); */
    /* padding-left: 60px; */
    /* padding-right: 60px; */
}



.post_body {
    /* background-color: hsl(204, 30%, 40%); */
    margin-bottom: 80px;
}

.post_title {
    padding-bottom: 20px;
    border-bottom: solid 2px;
    border-color: hsl(200, 25%, 35%);
}

.post_title_heading {
    /* font-size: 1.5em; */
    font-size: 20pt;
    font-weight: bold;
    line-height: 1.4;
    color: hsl(190, 90%, 80%);
    /* color: hsl(185, 100%, 85%); */
    margin-bottom: 8px;
}

.post_title_subtext {
    font-size: 0.8em;
}

.he {
    font-weight: bold;
    font-size: 1.2em;
    color: hsl(185, 95%, 65%);
    border-bottom: solid 2px;
    padding-bottom: 3px;
    border-color: hsl(195, 30%, 35%);
}

.hes {
    font-weight: bold;
    font-size: 18px;
}

.code_block {
    font-size: 12pt;
    color: hsl(170, 100%, 90%);
    background-color: hsl(198, 30%, 16%);
    padding: 20px;
    margin-left: 40px;
    margin-right: 90px;
}



a:link {
    color: hsl(180, 90%, 55%);
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: hsl(180, 90%, 55%);
    background-color: transparent;
}
a:hover {
    color: inherit;
    background-color: transparent;
    text-decoration: underline;
}

a.special_link {
  color: red;
}

ul {
    margin-top: 0px;
}

p {
    /* margin-top: 0px; */
}

math {
    font-size: 17pt;
}

/* .MathJax { */
/*     font-size: 135% !important; */
/* } */

code {
    font-size: 12pt;
}

/* table, th, td { */
/*     border: 1px solid hsl(186, 70%, 95%); */
/*     border-collapse: collapse; */
/*     padding: 06px; */
/*     padding-left: 15px; */
/*     padding-right: 15px; */
/*     margin-left: auto; */
/*     margin-right: auto; */
/* } */
