body {
    margin: 0px; /* this ensures that there is no default whitespace so my website can actually cover the entire page */
    background-color: hsl(204, 35%, 14%);
    font-family: sans-serif;
    color: hsl(186, 100%, 100%);
}



.blog_header {
    background-color: hsl(204, 30%, 10%);
    text-align: center;
    padding-bottom: 40px;
    padding-top: 120px;
}

.blog_title {
    color: hsl(195, 80%, 60%);
    word-spacing: 7px;
    letter-spacing: 4px;
    font-size: 50pt;
    font-family: "Times New Roman", Times, serif;
    padding-bottom: 10px;
}

.header_text {
    padding-top: 20px;
    font-size: 12pt;
    display: flex;
    justify-content: center;
}



.main_section {
    /* background-color: hsl(204, 30%, 13%); */
    width: 840px;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 600px;
    /* padding-top: 0.01px; /\* stupid trick to prevent margin collapse of .post_body*\/ */
    line-height: 1.8;
    font-size: 13pt;
}



.post_body {
    /* background-color: hsl(204, 30%, 40%); */
    margin-bottom: 80px;
}

.post_title {
    /* background-color: hsl(204, 35%, 15%); */
    padding: 30px;
    /* border: solid 3px; */
    border-left: solid 10px;
    /* border-bottom: solid 1px; */
    border-color: hsl(204, 28%, 20%);
    margin-bottom: 30px;
}

.post_title_heading {
    font-size: 20pt;
    font-weight: bold;
    line-height: 1.4;
    /* color: hsl(185, 100%, 85%); */
}

.post_title_subtext {
    font-size: 15px;
}

.he {
    font-weight: bold;
    font-size: 21px;
    color: hsl(185, 90%, 65%);
}

.hes {
    font-weight: bold;
    font-size: 18px;
}

.code_block {
    font-size: 12pt;
    color: hsl(170, 100%, 90%);
    background-color: hsl(198, 30%, 19%);
    padding: 20px;
    margin-left: 40px;
    margin-right: 90px;
}



a:link {
    color: hsl(180, 90%, 55%);
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    /* color: hsl(180, 90%, 55%); */
    color: hsl(279, 60%, 55%);
    /* color: inherit; */
    background-color: transparent;
    /* text-decoration: underline; */
}
a:hover {
    color: inherit;
    background-color: transparent;
    text-decoration: underline;
}

ul {
    margin-top: 0px;
}

p {
    /* margin-top: 0px; */
}

math {
    font-size: 17pt;
}

code {
    font-size: 12pt;
}

/* table, th, td { */
/*     border: 1px solid hsl(186, 70%, 95%); */
/*     border-collapse: collapse; */
/*     padding: 06px; */
/*     padding-left: 15px; */
/*     padding-right: 15px; */
/*     margin-left: auto; */
/*     margin-right: auto; */
/* } */
